@model MvcApplication2.Models.Course

@{
    ViewBag.Title = "Details";
}

<h3>Details</h3>

<fieldset>
    <legend style="font-weight:bold">Course</legend>

    <table cellpadding="2" cellspacing="2" >
        <tr>
            <td class="display-label" style="font-weight:bold">
                @Html.DisplayNameFor(model => model.CourseName)
            </td>
            <td class="display-field">
            @Html.DisplayFor(model => model.CourseName)
            </td>
        </tr>
        <tr>
            <td class="display-label" style="font-weight:bold">
                @Html.DisplayNameFor(model => model.Description)
            </td>
            <td class="display-field">
            @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td class="display-label" style="font-weight:bold">
                @Html.DisplayNameFor(model => model.Duration)
            </td>
            <td class="display-field">
            @Html.DisplayFor(model => model.Duration)
            </td>
        </tr>
        <tr>
            <td class="display-label" style="font-weight:bold">
                @Html.DisplayNameFor(model => model.Fees)
            </td>
            <td class="display-field">
            @Html.DisplayFor(model => model.Fees)
            </td>
        </tr>
    </table>
</fieldset>
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new {  id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
