@model IEnumerable<MvcApplication2.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h3>Courses</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table cellpadding="4" cellspacing="4" width="100%">
    <tr>
        <th align="left">
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th align="left">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th align="left">
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th align="left">
            @Html.DisplayNameFor(model => model.Fees)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fees)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.ID  }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
