@model MvcApplication2.Models.Users

@{
    ViewBag.Title = "Details";
}

<h3>Details</h3>

<fieldset>
<legend style="font-weight:bold">User</legend>
     <table cellpadding="2" cellspacing="2" >
        <tr>
            <td class="display-label" style="font-weight:bold">
                @Html.DisplayNameFor(model => model.UserName)
            </td>
            <td class="display-field">
                 @Html.DisplayFor(model => model.UserName)
            </td>
        </tr>
        <tr>
            <td class="display-label" style="font-weight:bold">
                @Html.DisplayNameFor(model => model.Password)
            </td>
            <td class="display-field">
                 @Html.DisplayFor(model => model.Password)
            </td>
        </tr>
   </table>
 </fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
